<div style="text-align: center; margin-top: 100px">
  <h3 style="font-family: sans-serif" >there {{name}}</h1>
    <p>
      You're trying to Sign in to your NotePad application. Please click the "Varify Email" button below to verify your identity.
    </p>
    <a href="http://127.0.0.1:/" style="font-size: 18px; font-family: sans-serif; text-decoration: none; padding: 10px 20px; background: blue; color: white; border-radius: 3px">
      Varify
    </a>
</div>

