<div style="text-align: center; margin-top: 100px">
  <h1>there {{name}}</h1>
  <p>varify your email</p>
  <a href="http://127.0.0.1:5173/" style="text-decoration: none; padding: 10px 20px; background: blue; color: white">
    Varify
  </a>
</div>

